$sans-serif: "Mail Sans Roman Med", arial, sans-serif;

html {
  --standart-margin: 52px;
  --standart-font-size: 15px;
}

header {
  --header-height: 40px;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen,
    Ubuntu, Cantarell, 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.main {
  display: flex;
  flex-flow: row nowrap;
  width: 100%;
}

.main__container {
  width: 80%;
  display: flex;
  flex-flow: row nowrap;
  margin-left: 10%;
  margin-right: 10%;
}

*::-webkit-scrollbar {
  border: none;
  background-color: transparent;
}

*::-webkit-scrollbar-thumb {
  border-radius: 20px;
  border: 5px solid transparent;
  background-color: #aaa;
  background-clip: content-box;
  height: 10px;
}
